*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-top{
            position: relative;
}



.language{
          width:200px;
          height:100%;
          background-color:lightgreen;
          position: absolute;
          left:15%;}

.search{
        width:300px;
        height:100%;
        background-color:lightgreen;
        position: absolute;
        right:15%;
}

.menu{
      position: relative;
}

.project{
         width:200px;
         height:100%;
         background-color:lightblue;
         position: absolute;
         left:15%;
}

.sidebar{
         width:600px;
         height: 100%;
         background-color: lightblue;
         position: absolute;
         right:15%;
}

.grow{
      background-image: url(../img/case.jpg);
      background-size:cover;
      position: relative;}

.spiegazione{
              height:100%;
              width:30%;
              position:absolute;
              left:15%;
              top:15%;
              font-size:25px;
}

.push{
       height:50px;
       width: 150px;
      background-color:orange;
      margin-top: 20px;
}

.get-try{
         font-size: 10px;
         margin-top: 20px;
}

.power-ful{
  position: relative;
}

.power{
       text-align: center;
       padding-top:30px;
}
.rubik{
  width: 100px;
  height: 100px;
}

.col-1{
       height: 150px;
       width: 500px;
       background-color: azure;
       border:1px solid black;
       position: relative;
}

.text1-col-1{
             height: 100%;
             width:30%;
             position: absolute;
             left:10%;
             top:20%;
}

.text2-col-1{
             height:100%;
             width: 50%;
             text-align:left ;
             font-size:10px;
             position: absolute;
             top:20%;
             right: 20%;
             display: inline-block;
}

.libro{
  width:50px;
  height: 50px;
  }

.push{
      width:70px;
      height:30px;
      background-color: orange;
      display:block;

  }
.group-col{position: absolute;
           top: 60%;
           left:50%;
           transform: translate(-50%,-50%);
           clear: both;
           content: ('');
           display: table;

}

.col-2,.col-3,.col-4{
                      background-color: azure;
                      height: 500px;
                      width: 150px;
                      border: 1px solid black;
                      margin: auto;
                      margin-top:10px;
                      float: left;

}

.text1-group{height:60%;
             text-align: center;
             font-size:10px;
             position: relative;
}

.pimp{
      display: block;
      width:70px;
      height:30px;
      background-color: orange;

}



}
.col-3{
       margin:0px 35px;
       margin-top: 10px;
}

.sign-up{
         position: relative;
}

.try-free{
          height: 100%;
          width:40%;
          background-color:purple;
          position: absolute;
          left:0%;
}



.sponsor{
         background-color: pink;
         height: 100%;
         width:60%;
         position: absolute;
         right:0%;
}

hr {
    color:blue;
     height: 20%;}

/* ALTEZZE E COLORI */


.h-50{
          height:50px;
          background-color:blue;

}

.h-500{
        height:500px;
        background-color: yellow;


}

.h-800{
        height:1000px;
        background-color:grey;
}
