*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.head-top{
    background-color: rgb(245, 249, 253);
    border-bottom: 1px solid rgb(95, 111, 124);
}

.clearfix{
    clear: both;
    content:'';
    display: table;
}

.nav-top{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-top:20px;
}

.nav-top-left{
    float: left;
}

.nav-top-right{
    float: right;

}

.cont{
      padding-left:20px;
      border-left: 1px solid rgb(95, 111, 124);
}

.push-nav{
    padding:3px;
}


.nav-bottom{
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    height:60px;
    width: 15%;
}

.side-bar{
  display: inline-block;
  float:right;
}

.menu{
    float: right;
    height: 100%;
    font-size: 13px;
    padding-top:20px;
    padding-right:10px;
}

.hero{
    background-image: url(img/jumbotron.png);
    background-size: cover;
    height: 600px;
}

.text-hero{
    width:35%;
    margin-left:15%;
    margin-right:50%;
    padding-top:5%;
}

.push-hero{
    padding:7px;
}

.container-learn{
    background-color: rgb(245, 249, 253);
}


.text-rubik{
    text-align: center;
    width:50%;
    margin-left:auto;
    margin-right: auto;
    padding-top:30px;
}
.rubik{
    width: 250px;
    height: 200px;
}

.widget{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    height:150px;
    background-color: #fff;
}

.text-wi-left{
    width:25%;
    text-align: center;

}
.learn-img{
    width:100px;
    height:100px;
}





/* ALTEZZE E ALTRO */

.h-60{
    height:60px;
}

.text-pos{
    margin: 30px;

}

.bold-text{
    font-weight:bold;
}

.push-o{
    color: #fff;
    background-color: #ffa500;
    border-radius: 5px;
}

.push-w{
    background-color: #fff;
    border: 1px solid #ffa500;
    color: #ffa500;
    border-radius: 5px;}

.font-small{
    font-size: 10px;
}
a:link{
    text-decoration: none;
}
