*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #213357;
}

.bkg-header-top{
  border-bottom: 1px solid rgb(95, 111, 124);
  background-color: #F5F9FD ;
  height: 70px;
}

.nav-top{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 100%;
  align-items: center;
  font-size:0.8rem;

}

.grow{
  flex-grow: 2;
}

.lang{
  font-size:0.8rem;
}

.lang > a > i {
  padding:5px;
}

.cont{
  padding-left:10px;
  border-left: 1px solid rgb(95, 111, 124);
}

.sign-in > i {
  padding:5px;
  font-size:1rem;
}

.btn-white-small{
  background-color: #fff;
  color:#ff7a59; ;
  padding:3px 10px;
  border-radius: 5px;
  border: 1px solid #ff7a59;
}

.btn-orange-small{
  background-color: #ff7a59;
  border-radius: 5px;
  color: #fff;
  padding:3px 10px;
  border: 1px solid  #ff7a59;
}

.header-bottom{
  height: 65px;
  width:80%;
  margin-left: auto;    
  margin-right: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  
}

.logo > img{
  height:60px;
}
.menu{
    font-size:0.8rem;
    padding-left:15px;
}


.bkg-hero{
    background-image: url(img/jumbotron.png);
    background-size: cover;
    background-position: center;
    height: 700px;
}
.hero{
  margin-left: 9%;    
  margin-right: auto;
  width: 35%;
  display: flex;
  flex-direction: column;
}
.hero > h1 {
  font-size:2.8rem;
  margin-top: 100px;
  margin-bottom:20px;
}

.hero > p{
  font-size:1rem;
  margin-top: 20px;
  margin-bottom:20px;
}

.hero > button{
  width:200px;
  height:60px;
  font-size:1rem;
}
.hero > button > a{
  color: white;
}

.hero > h5{
  font-size:0.7rem;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom:20px;
}

.bkg-container{
  background-color: #f5f8fa;  
  
}

.container-learn{
  text-align: center;
  margin-left: auto;    
  margin-right: auto;
  width: 80%;
  padding-top:100px;
  }

.container-learn > h1{
  font-size: 2.4rem;
}

.container-learn > p{
  font-size: 1.2rem;
  padding: 50px;

}
.btn-white{
  background-color: #fff;
  padding:10px  40px;
  border-radius: 5px;
  border: 1px solid #ff7a59;
}
.btn-white > a {
  color:#ff7a59;
  font-size:0.9rem;
}

.btn-orange{
  background-color: #ff7a59;
  padding:10px  40px;
  border-radius: 5px;
  border: 1px solid  #ff7a59;
}
.btn-orange > a {
  color:#fff;
  font-size:0.9rem;
}
.container-card{
  margin-left: auto;    
  margin-right: auto;
  width: 70%;
  padding-top: 70px;
  padding-bottom:70px;
}
.d-flex-card{
  display: flex;
  text-align: center;
}

.card{
  margin:10px;
  width: 50%;
  padding: 60px;
  box-shadow: 0 10px 50px  rgba(51,71,91,0.12);
}

.card > img{
  width:1.7rem;
  height: 1.7rem;

  
}
.card > h3 {
  font-size: 1.7rem;
  padding: 10px;
  display:inline-block;

}

.card > p{
  padding:20px;
  font-size:0.9rem;
}

.card > ul {
  text-align: left;
}

.card > ul > li:first-child{
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom:15px;
}

.card > ul > li {
  font-size: 0.8rem;
  font-weight: 800;
  padding: 10px;
}
.card > ul > li > i{
  color:#ff7a59;
  padding-right:5px;
  font-size: 1rem;
}

.card > button{
  margin-top:20px;
}
.bkg-result{
  background-color: #15A89D;
  height:800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result{
  width:80%;
  margin-left: auto;
  margin-right: auto;
    
}
.text-result{
  text-align:center;
  color: #fff;
  margin-bottom:40px;
}
.text-result > h1{
  font-size:1.7rem;
}
.text-result > p{
  font-size: 1rem;
}

.row-result{
  display: flex;
  color: #fff;
  justify-content: center;
  width:100%;
}

.row-result :nth-last-child(1){
  content: '';
  border-right: none;
}

.square{
  border-right:1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;;
}
.square > h2 {
  font-size: 2rem;
}
.square > i {
  font-size: 2rem;
}

.border-bottom{
  border-bottom: 1px solid #fff;
}

.bkg-regard{
  height:900px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.regard-header{
display: flex;
justify-content: space-between;
align-items: center;
height:50%;
}
.partner-text{
  font-size:1.3rem;
}

.regard-text > h1{
  margin-bottom:30px;
}
.regard-text > .btn-orange{
  margin-bottom:30px;
  margin-top:30px;
  width: 200px;
  height:80px;
  display: flex;
  align-items: center;
}
.regard-text > h5{
  font-size: 0.7rem;
}
.partner > img{
  height: 30px;
  width: 130px;
}

.regard-footer{
display: flex;
justify-content: space-between;
}

.women-img > img{
  height: 400px;
}

footer{
  background-color: #263948;
  color: lightgrey;
}

.document-footer{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.contact {
width: 25%;
padding-top: 50px;
}

ul{
  list-style-type: none;
}

.title-doc{
  font-size:18px;
  color: rgba(255, 255, 255, 0.9);

}

.push-foot{
  color:#263948;
  background-color: lightgrey;
  margin-top:30px;
  margin-bottom: 30px;
  border-radius:5px;
  padding:10px;
}
.choice-lang{
  padding-bottom:10px;
  padding-top:30px;
}
hr{
  border:1px solid #fff;
}

.reguards{
  font-size:20px;
}



/* ALTEZZE E ALTRO */


.h-60{
    height:60px;

}

.text-pos{
  margin: 30px;

}

.bold-text{
    font-weight:bold;
}

.push-o{
    color: #fff;
    background-color: #ffa500;
    border-radius: 5px;
}

.push-w{
    background-color: #fff;
    border: 1px solid #ffa500;
    color: #ffa500;
    border-radius: 5px;}

.font-small{
    font-size: 10px;
}
a:link{
    text-decoration: none;
}

.inline{
    display: inline-block;
}

.pad{
    padding: 10px;
}

.font-title-wi-ca{
    font-size:25px;
}

.font-wi-ca{
    font-size: 15px;
}

.floating-l{
    float: left;
}

.floating-r{
    float: right;
}

.font-center{
    text-align: center;
}


